/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0D258F;
}

header {
  background-color: #0D258F;
  color: #fff;
}

/*background layout*/
.intro {
  color: white;
  z-index: 0;
  width: 100%;
  height: 2337px;
  flex-shrink: 0;
  background-color: #0D258F;
  background-image: url('images/decor.png'), url('images/darkblue_texture.png');
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: 100% 90%, 100% 100%;
}

.team {
  position: absolute;
  top: 767px;
  background: #FFFBEE;
  width: 100%;
  height: 2087px;
  flex-shrink: 0;
  z-index: 0;
}

.partners {
  position: absolute;
  top: 2854px;
  bottom: 775px;
  width: 100%;
  height: 3469px;
  flex-shrink: 0;
  background: #0D258F;
  background-image: url('images/darkblue_texture.png');
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: 100% 100%;
}

.past_mems {
  position: absolute;
  top: 6323px;
  background: #A2D6F9;
  width: 100%;
  height: 2087px;
  flex-shrink: 0;
  z-index: 0;
}

.footer {
  background: #0B1A61;
  box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: absolute;
  top: 8410px;
  width: 100%;
  height: 431px;
}

/*Start of details*/
h1 {
  color: #FFC600;
  font-family: Nunito;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}

h2 {
  padding-left: 10px;
  font-family: Nunito;
  font-size: 43px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 2;
}

h3 {
  color: #0D258F;
  font-family: Nunito;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
}

#menu {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 5;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #0D258F;
  color: #fff;
  background-image: url('images/darkblue_texture.png');
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: 100% 100%;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0D258F;
  background-image: url('images/darkblue_texture.png');
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: 100% 100%;
}

#menu li {
  float: left;
  border-right: 1px solid #e6bb13;
}

#menu li:last-child {
  border-right: none;
}


#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;

  font-family: Nunito;
  font-size: 300%;
  font-style: 1.6;
}

#menu li a:hover {
  background-color: #e6bb13;
}

.active {
  background-color: #e6bb13;
}

.image_format {
  position: relative;
  border-radius: 50px 0px;
  z-index: 3;
  width: 349px;
  height: 209px;
  max-width: 90%;
}

#image1 {
  position: relative;
  top: 400px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 100%;

}

@media only screen and (max-width: 100%) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


.image_format2 {
  position: relative;
  border-radius: 50px 0px;
  z-index: 3;
  width: 100px;
  height: 100px;
  max-width: 30%;
}

.text_box {
  width: 90%;
  height: 120%;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  position: relative;
  z-index: 1;
}

#clara_image {
  position: relative;
  top: 320px;
}

#clara {
  position: relative;
  top: 330px;
  fill: #FFFBEE;
}

#clara h2 {
  color: #0B1A61;
}

#clara p {
  color: #0D258F;
  font-family: Nunito;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  position: relative;
  background-color: #FFFBEE;
}

#vamsi_image {
  position: relative;
  top: 350px;
}

#vamsi {
  position: relative;
  top: 350px;
  fill: #FFFBEE;
}

#vamsi h2 {
  color: #0B1A61;
}

#vamsi p {
  color: #0D258F;
  font-family: Nunito;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  position: relative;
}

.vl_blue {
  border-left: 6px solid #0D258F;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  z-index: 1;
}

.vl_mizu {
  border-left: 6px solid#1E96FC;
  ;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  z-index: 1;
}


#soyoung_image {
  padding: 0;
}

#soyoung {
  position: relative;
  top: 0px;
}

#soyoung h2 {
  color: #FFFBEE;
  position: relative;
  top: -300;
}

#soyoung p {
  color: #FFF;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
}

#andy_image {
  position: relative;
  top: 0px;
}

#andy h2 {
  color: #FFFBEE;
  position: relative;
  top: -300;
}

#andy p {
  color: #FFF;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
}

#leslie_image {
  position: relative;
  top: 0px;
}

#leslie h2 {
  color: #FFFBEE;
  position: relative;
  top: -300;
}

#leslie p {
  color: #FFF;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
}

#thida_image {
  position: relative;
  top: 0px;
}

#thida h2 {
  color: #FFFBEE;
  position: relative;
  top: -300;
}

#thida p {
  color: #FFF;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
}

#kelley_image {
  position: relative;
  top: 0px;
}

#kelley h2 {
  color: #FFFBEE;
  position: relative;
  top: -300;
}

#kelley p {
  color: #FFF;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
}

#vlline {
  height: 30%;
}

#vlline2 {
  position: absolute;
  top: 1150px;
  height: 10%;
}

#vlline3 {
  position: absolute;
  top: 130px;
  height: 10%;
}

#vlline4 {
  position: absolute;
  top: 710px;
  height: 10%;
}

#vlline5 {
  position: absolute;
  top: 1490px;
  height: 10%;
}

#vlline6 {
  position: absolute;
  top: 2040px;
  height: 10%;
}

#vlline7 {
  position: absolute;
  top: 2615px;
  height: 10%;
}

#hans_image {
  position: relative;
  top: 50px;
}

#hans {
  position: relative;
  top: 70px;
  fill: #FFFBEE;
}

#hans h2 {
  color: #0B1A61;
}

#dylan_image {
  position: relative;
  top: 140px;
}

#dylan {
  position: relative;
  top: 160px;
  fill: #FFFBEE;
}

#dylan h2 {
  color: #0B1A61;
}

#vlline8 {
  position: absolute;
  top: 200px;
  height: 10%;
}

#vlline9 {
  position: absolute;
  top: 680px;
  height: 10%;
}

#logov2 {
  padding: 2%;
  margin-top: auto;
  margin-bottom: auto;
}