/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #0D258F;
  color: #fff;

}

.hamburger {
  width: 30px;
  height: 30px;
  background-color: #fbd722;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/*
.menu {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D258F;
  color: #fff;

}

.menu-item {
  margin: 0 30px;
  color: #fff;
  text-decoration: none;
}

.menu-item:first-child {
  margin-left: 35px;
}

.menu-item:last-child {
  margin-right: 35px;
}

.menu a:hover {
  color: #e6bb13;
}

.menu a.active {
  background-color: white;
  padding: 20px;
  color: #e6bb13;
  text-decoration: none;
}
*/

#menu {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 5;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #0D258F;
  color: #fff;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0D258F;
}

#menu li {
  float: left;
  border-right: 1px solid #e6bb13;
}

#menu li:last-child {
  border-right: none;
}


#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;

  font-family: Nunito;
  font-size: 300%;
  font-style: 1.6;
}

#menu li a:hover {
  background-color: #e6bb13;
}

h1 {
  padding-left: 10px;
}

h2 {
  font-family: Nunito;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding: 0%;
}

hr {
  width: 100%;
  height: 5px;
  padding: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 150%;
}

section {
  padding-top: 5px;
}


.stLOGO {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  padding-top: 150px;
  width: 404;
  height: 206;

}

#logo {
  position: relative;
  top: 550px;
  max-width: 100%;
}

.intro {
  color: white;
  z-index: 0;
  width: 100%;
  height: 2337px;
  flex-shrink: 0;
  background-color: #0D258F;
  background-image: url('images/decor.png');
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: 100% 250%;
}

.image_format {
  position: relative;
  border-radius: 50px 0px;
  z-index: 3;
  width: 313px;
  height: 291.282px;
  max-width: 90%;
}

#image1 {
  position: relative;
  top: 1050px;

}

/*responsive image code */
div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 100%;

}

@media only screen and (max-width: 100%) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/*end of responsive image codes*/

.intro2 {
  position: absolute;
  top: 2337px;
  background-color: #A2D6F9;
  z-index: 2;
  width: 100%;
  height: 803px;
  flex-shrink: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%)
}

.bullet_box {
  width: 90%;
  height: 120%;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

#mucusplugg {
  position: relative;
  top: 190px;

}

#mucusplugg ul li {
  color: #0B1A61;
  padding: 3%;
  font-family: Nunito;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.need {
  position: absolute;
  top: 2950px;
  bottom: 775px;
  z-index: 1;
  width: 100%;
  height: 1126px;
  flex-shrink: 0;
  background: #FFFBEE;
}

.text_box {
  width: 90%;
  height: 120%;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

#need_text {
  position: relative;
  top: 190px;
}

#need_text h2 {
  color: #0B1A61;
}

#need_text p {
  color: #0B1A61;
  font-family: Nunito;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  position: relative;
  left: 10px;
  top: -70px;
}

#need_text hr {
  position: relative;
  top: -40px;
  color: #0B1A61;
  background-color: #0B1A61;
}

#image2 {
  position: relative;
  top: -700px;

}

.solution {
  position: absolute;
  top: 4000px;
  background-color: #A2D6F9;
  width: 100%;
  height: 1188px;
  flex-shrink: 0;
  z-index: -1;
}

#solution_text {
  position: relative;
  top: 400px;
}

#solution_text h2 {
  color: #0B1A61;
}

#solution_text ul li {
  color: #0B1A61;
  padding: 3%;
  font-family: Nunito;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  left: 10px;
  top: -70px;
}

#solution_text hr {
  position: relative;
  top: -40px;
  color: #0B1A61;
  background-color: #0B1A61;
}

.prototype {
  position: absolute;
  top: 5180px;
  background: #FFFBEE;
  width: 100%;
  height: 2287px;
  flex-shrink: 0;
  z-index: -2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%)
}

.image_format2 {
  position: relative;
  border-radius: 50px 0px;
  z-index: 3;
  width: 319px;
  height: 188px;
  max-width: 90%;
}

#image3 {
  position: relative;
  top: -450px;
}

#prototype_text {
  position: relative;
  top: 300px;
}

#prototype_text {
  color: #0B1A61;
}

#prototype_text ul li {
  color: #0B1A61;
  padding: 3%;
  font-family: Nunito;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  left: 10px;
  top: -70px;
}

#prototype_text hr {
  position: relative;
  top: -40px;
  color: #0B1A61;
  background-color: #0B1A61;
}

#image4 {
  padding: 3%;
}

#graph {
  padding: 8%;
}

.futurework {
  background: #0D258F;
  z-index: -3;
  position: absolute;
  top: 7000px;
  width: 100%;
  height: 1190px;
  flex-shrink: 0;
}


#futurework_text {
  position: relative;
  top: 450px;
}

.futurework_text p {
  color: #FFC600;
  font-family: Nunito;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

#futurework_text h2 {
  color: #FFC600;
}

#futurework_text hr {
  position: relative;
  top: -40px;
  color: #FFC600;
  background-color: #FFC600;
}

.image_format3 {
  position: relative;
  max-width: 90%;
}

#table_format {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 10%;
}

#table_format td {
  color: #FFFBEE;
  font-family: Nunito;
  font-size: 38px;
  font-style: 1.6;
  font-weight: 400;
  line-height: normal;
  padding-left: 20%;
  padding-top: 1%;
  padding-bottom: 5%;
}

#table_format th {
  width: 20%;
  padding: 3%;
  text-align: right;
}

.footer {
  background: #0B1A61;
  box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: absolute;
  top: 8190px;
  width: 100%;
  height: 431px;


}

#logov2 {
  padding: 2%;
  margin-top: auto;
  margin-bottom: auto;
}